body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.main-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  border-radius: 20px;
  height: 450px;
  width: 500px;
}
